#set ($columns = $bookings.daysVisible + 1)
<table class="grid">
#if ($message)
	<tr>
		<td class="error" colspan="${columns}" align="center">$message</td>
	</tr>
#end
	<tr>
		<th align="center" colspan="${columns}">$bookings.name</th>
	</tr>
	<tr>
		<th align="center" colspan="${columns}">
			<a href="${req.contextPath}${generalUtil.customGetPageUrl($content)}${bookings.urlString}&${bookings.getParameterName("prevWeek")}=1"><img src="$req.contextPath/images/icons/back_16.gif" border=0 align=absmiddle height=16 width=16></a>
			$bookings.gotoWeekStart()
			${bookings.date.toString("EEEE, MMM dd, yyyy")}
			-
			$bookings.gotoWeekEnd()
			${bookings.date.toString("EEEE, MMM dd, yyyy")}
			<a href="${req.contextPath}${generalUtil.customGetPageUrl($content)}${bookings.urlString}&${bookings.getParameterName("nextWeek")}=1"><img src="$req.contextPath/images/icons/forwd_16.gif" border=0 align=absmiddle height=16 width=16></a>
		</th>
	</tr>

	<tr>
		<td>&nbsp;</td>
	$bookings.gotoWeekStart()
	#foreach ($dayNum in [1..7])
		#if ($bookings.dateVisible)
			<td align="center"><b>${bookings.date.toString("EEEE")}</b></td>
		#end
		$bookings.gotoNextDay()
	#end
	$bookings.gotoPrevWeek()
	</tr>
	
	#set ($remoteUser = $userAccessor.getUser($req.remoteUser))
  $bookings.gotoFirstItem()
	#foreach ($itemIndex in [1..$bookings.itemCount])
    <tr>
			<td><b>$bookings.item</b></td>

			$bookings.gotoWeekStart()
			#foreach ($dayNum in [1..7])
				#if ($bookings.dateVisible)
					#set ($booker = false)
					#set ($bookedFor = false)
					#if ($bookings.booking)
				    <td class="infoMacro" align="center">
							#set ($booker = $userAccessor.getUser($bookings.booking.booker))
							#if ($bookings.booking.bookedFor)
								#set ($bookedFor = $userAccessor.getUser($bookings.booking.bookedFor))
							#else
								#set ($bookedFor = $booker)
							#end
							
							<table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%">
							  <tr>
							  	<td class="noformatting" style="text-align:center" width="100%">
								    #if ($bookedFor)
								      <span class="nobr"><a href="${req.contextPath}/display/~${generalUtil.urlEncode($bookedFor.name)}" title="View profile for $bookedFor.fullName"><sup><img class="rendericon" src="${req.contextPath}/images/icons/user_12.gif" height="12" width="12" align="absmiddle" alt="" border="0"/></sup>$bookedFor.fullName</a></span>
										#end
										#if ($bookings.booking.comments)
											<br>${bookings.booking.comments}
										#end
									</td>
									<td class="noformatting" style="text-align:right">
										<a href="${req.contextPath}${generalUtil.customGetPageUrl($content)}${bookings.urlString}&${bookings.getParameterName("details")}=1" title="Booking details"><img src="$req.contextPath/images/icons/addbk_16.gif" border="0" align="absmiddle" height="16" width="16" vspace="1" hspace="1"></a>
										#if ( $booker.equals($remoteUser) || $bookedFor.equals($remoteUser) || $bookings.isAdministrator($remoteUser) )
											<br><a href="${req.contextPath}${generalUtil.customGetPageUrl($content)}${bookings.urlString}&${bookings.getParameterName("delete")}=1" title="Cancel booking"><img src="$req.contextPath/images/icons/trash_16.gif" border="0" align="absmiddle" height="16" width="16" vspace="1" hspace="1"></a>
										#end
									</td>
								</tr>
							</table>
				    </td>
					#else
						<td align="center">
							#if ($remoteUser)
				        <a href="${req.contextPath}${generalUtil.customGetPageUrl($content)}${bookings.urlString}&${bookings.getParameterName("details")}=1" title="Make booking"><img src="$req.contextPath/images/good.gif" border="0" align="absmiddle" height="16" width="16"></a>
				      #else
				      	&nbsp;
				      #end
				    </td>
					#end
				#end
				$bookings.gotoNextDay()
			#end
			## Have to set the calendar back into this week...
			$bookings.gotoPrevWeek()
		</tr>
		$bookings.gotoNextItem()
	#end
</table>